body {
    background-color: lightgray;
}
.form1 {
    max-width: 1200px;
    margin: auto;
    padding-top: 5%;
}

.dataTable {
    max-width: 70% !important;
    margin: auto !important; 
    padding-top: 5% !important;
}

table {
    max-width: 1200px;
    margin: auto;
    padding-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
