body {
    background-color: lightgray;
}
.form1 {
    max-width: 1200px;
    margin: auto;
    padding-top: 2%;
}

.dataTable {
    max-width: 70% !important;
    margin: auto !important; 
    padding-top: 5% !important;
    padding-bottom: 5%;
}
.dataTable > h1 {
  margin-left: 37%;
}
table {
    max-width: 1200px;
    margin: auto;
    padding-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#Create {
  min-width: 100%;
  float: left;
}

#Update {
  min-width: 550px;
  padding-top: 2%;
  float: left;
}

#Delete {
  min-width: 550px;
  padding-top: 2%;
  padding-bottom: 5%;
  float: right;
}
